<h3 class="poetic-work">the poetic work of </h3>
<h1 class="poet-name"><%= @poet.name %> </h1>
<h4 class="text-center">of <%= @poet.origin %></h4>		

<div class="filler"></div>

<%= image_tag @poet.avatar.url(:medium), class: "avatar" %>

<div class="filler"></div>

<% @poet.poems.each do |p| %>
	<div class="poem-title"> <%= link_to p.title, poem_path(@poet.id, p) %> </div>
<% end %>


<!-- 
<p><%#= link_to "edit this poet", edit_poet_path(@poet) %></p>
<p> <%#= link_to "delete this poet", @poet, method: :delete, data: { confirm: 'Are you sure you want to delete this poet?'} %> </p>
<p><%#= link_to "back to the Poets!", poets_path %></p>

<br>
<p><%#= link_to "add a poem", new_poem_path(@poet) %></p> -->
<p><%#= link_to "welcome page", welcome_path(@poet.user) %></p>