.poet-name {
	text-align: center;
	padding-top: 0px;
	margin-top: 5px;
}

.poetic-work {
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;	
}

.poem-list {
	text-align: center;		
}

.poem-title {

	text-align: center;	
	a {
		color: black;
	}	
}

.filler {
	height: 30px;
}

.avatar {
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.form-center {
	width:intrinsic; /* For Safari, see https://developer.mozilla.org/en-US/docs/CSS/width */
    width:-moz-fit-content;
    width:-webkit-fit-content;
    width:fit-content;
    margin:0 auto;
    overflow:hidden; /* Contain the floated li elements */
}

.options {
	text-align: center;	
}